<template name="sidebar">
    <aside class="aside-container">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <nav class="sidebar" data-sidebar-anyclick-close="">
                <!-- START sidebar nav-->
                <ul class="sidebar-nav">
                    <!-- START user info-->
                    <li class="has-user-block">
                        <div id="user-block" class="collapse in">
                            <div class="item user-block">
                                <!-- User picture-->
                                <div class="user-block-picture">
                                    <div class="user-block-status">
                                        <img src='img/user/02.jpg' alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                                        <div class="circle bg-success circle-lg"></div>
                                    </div>
                                </div>
                                <!-- Name and Job-->
                                <div class="user-block-info">
                                    <span class="user-block-name">Hello, Mike</span>
                                    <span class="user-block-role">Designer</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END user info-->
                    <!-- Iterates over all sidebar items-->
                    <li class="nav-heading ">
                        <span>{{_"sidebar.heading.HEADER"}}</span>
                    </li>
                    <li class="{{isActiveRoute regex='dashboard'}}">
                        <a href="{{pathFor 'dashboard'}}" title="Dashboard">
                            <em class="fas fa-tachometer-alt"></em>
                            <span>{{_ "sidebar.nav.DASHBOARD" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='processes'}}">
                        <a href="{{pathFor 'processes'}}" title="Processes">
                            <em class="fas fa-project-diagram"></em>
                            <span>{{_ "sidebar.nav.PROCESSES" }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" title="Processes">
                            <em class="fab fa-wpforms"></em>
                            <span>{{_ "sidebar.nav.TEMPLATES" }}</span>
                        </a>
                    </li>
                </ul>
                <!-- END sidebar nav-->
            </nav>
        </div>
        <!-- END Sidebar (left)-->
    </aside>
</template>
