<template name="activity">
  <div class="card mb-3 border-info">
     <div class="card-header text-white bg-info">NAME
       <div class='pull-right'>$number
          <div class="btn-group pinter2">
            <button type="button" class="btn btn-info header-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v pointer"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="pointer2"><span class="fas fa-redo-alt clone-activity"></span> Clone Activity</li>
              <li class="pointer2"><span class="far fa-file template-activity"></span> Templatize Activity</li>
              <li class="pointer2"><span class="fas fa-pencil-alt edit-activity"></span> Edit Activity</li>
              <li class="pointer2"><span class="fas fa-trash delete-activity"></span> Delete Activity</li>
            </ul>
          </div>
        </div>
     </div>
     <div class="card-body">
      {{>subactivity}}
     </div>
  </div>
</template>
