<template name="process">
    <div class="content-heading">
       <div>Process - {{name}} <small>Period Under Review: {{timeperiod.duration}} {{timeperiod.type}}</small></div>
    </div>
    <div class="row">
        {{#each app}}
          <div class="btn-group app">
           <button type="button" class="btn btn-{{active}} app">{{appName}}</button>
           <button type="button" class="btn btn-{{active}} app" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="app fas fa-ellipsis-v" aria-hidden="true"></i>
           </button>
           <ul class="dropdown-menu app">
             <li class="pointer2"><span class="fas fa-redo-alt clone-application"></span> Clone Application</li>
             <li class="pointer2"><span class="far fa-file template-application"></span> Templatize Application</li>
             <li class="pointer2"><span class="fas fa-pencil-alt edit-application"></span> Edit Application</li>
             <li class="pointer2"><span class="fas fa-trash delete-application"></span> Delete Application</li>
           </ul>
          </div>
        {{/each}}
        <button type="button" class="btn btn-warning app" data-toggle="modal" data-target="#formModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Application
        </button>
    </div>

    {{#each scenarioItem}}
      {{>scenario}}
    {{/each}}

    {{#if inApp}}
    <div class="card card-default mb-3 pointer" data-toggle="modal" data-target="#formModal">
       <div class="card-header addSce">Add A Scenario</div>
    </div>
    {{/if}}


</template>
