<template name="process">
    <div class="content-heading">
       <div>Process - {{name}} <small>Period Under Review: {{timeperiod.duration}} {{timeperiod.type}}</small></div>
    </div>
    <div class="row">
        {{#each app}}
          <div class="btn-group app">
           <button type="button" class="btn btn-{{active}} app">{{appName}}</button>
           <button type="button" class="btn btn-{{active}} app" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="app fas fa-ellipsis-v" aria-hidden="true"></i>
           </button>
           <ul class="dropdown-menu app">
             <li class="pointer2"><span class="fas fa-redo-alt clone-application"></span> Clone Application</li>
             <li class="pointer2"><span class="far fa-file template-application"></span> Templatize Application</li>
             <li class="pointer2"><span class="fas fa-pencil-alt edit-application"></span> Edit Application</li>
             <li class="pointer2"><span class="fas fa-trash delete-application"></span> Delete Application</li>
           </ul>
          </div>
        {{/each}}
        <button type="button" class="btn btn-warning app" data-toggle="collapse" href="#addAppForm" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Application</button>
    </div>
    <div class="row">
      <div class="collapse" id="addAppForm">
        <div class="card card-body">
          {{>quickForm collection="Processes" id="insertApp" doc=this type="update-pushArray" scope="app"}}
        </div>
      </div>
    </div>

    {{#each scenario}}
    <div class="card mb-3 border-success">
       <div class="card-header text-white bg-success">{{sceName}}
         <div class='pull-right'>$number
            <div class="btn-group pointer2">
              <button type="button" class="btn btn-success header-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v pointer"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="pointer2"><span class="fas fa-redo-alt clone-scenario"></span> Clone Scenario</li>
                <li class="pointer2"><span class="far fa-file template-scenario"></span> Templatize Scenario</li>
                <li class="pointer2"><span class="fas fa-pencil-alt edit-scenario"></span> Edit Scenario</li>
                <li class="pointer2"><span class="fas fa-trash delete-scenario"></span> Delete Scenario</li>
              </ul>
            </div>
          </div>
       </div>
       <div class="card-body">
          <h5 class="card-title">{{sceDescription}}</h5>
          {{> activity}}
       </div>
    </div>
    {{/each}}
    {{#if inApp}}
    <div class="card card-default mb-3">
       <div class="card-header addSce pointer">Add A Scenario</div>
       <div class="card-body collapse" id="addSce">
           <p class="card-text">
             {{>quickForm collection="Processes" id="insertSce" doc=this type="update-pushArray" scope=scenarioNumber}}
           </p>
       </div>
    </div>
    {{/if}}


</template>
