<template name="processes">
  {{#if viewing}}
    <div class="content-heading">
       <div>Processes</div>
    </div>
    <div class="row">
      {{#each process}}
        <div class="col-md-4">
          <div class="card mb-3 border-info goPro" style="cursor: pointer;">
             <div class="card-header text-white bg-info">{{name}}</div>
             <div class="card-body">
                <p class="card-text">{{description}}</p>
             </div>
          </div>
        </div>
      {{/each}}
      <div class="col-md-4">
        <div class="card card-default mb-3 addProcess" style="cursor: pointer;">
           <div class="card-header">Add A Process</div>
           <div class="card-body">
              <p class="card-text">Click here to create a new process.</p>
           </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="content-heading">
       <div role="button" class="addProcess" style="cursor: pointer;">
         <i class='fas fa-angle-left'></i>
         <a>&nbsp;&nbsp;Add a Process</a>
       </div>
    </div>
    {{> quickForm collection="Processes" id="insertProcess" type="insert"}}
  {{/if}}

</template>
