<template name="subactivity">
  <div class="subItem card mb-3 border-warning">
     <div class="card-header text-white bg-warning">{{subName}}
       <div class='pull-right'>${{subRollup}}
          <div class="btn-group pinter2">
            <button type="button" class="btn btn-warning header-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v pointer"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="pointer2"><span class="fas fa-redo-alt clone-subactivity"></span> Clone Subactivity</li>
              <li class="pointer2"><span class="far fa-file template-subactivity"></span> Templatize Subactivity</li>
              <li class="pointer2"><span class="fas fa-pencil-alt edit-subactivity"></span> Edit Subactivity</li>
              <li class="pointer2"><span class="fas fa-trash delete-subactivity"></span> Delete Subactivity</li>
            </ul>
          </div>
        </div>
     </div>
     <div class="card-body">
     </div>
  </div>
</template>
