.pointer {
  cursor: pointer;
}

.pointer2 {
  cursor: pointer;
  padding-left: 10px;
}

// header-btn {
//   padding-left: 3px   !important;
//   padding-bottom: 0px !important;
//   padding-right: 3px  !important;
//   padding-top: 0px    !important;
// }
